@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eee;
    --foreground: #0a0a0a;
    --card: #dbdbdb;
    --primary: #8f64ff;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --card: #151515;
  }
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background text-foreground;
  }

  mark {
    @apply bg-primary text-background px-1.5 py-0.5;
  }
}
