@import url(https://fonts.googleapis.com/css?family=Manrope:300,500,600);

@font-face {
  font-family: 'Advent';
  src: url('./src/assets/fonts/Adventure-Subtitles.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
